@use '../../styles/variables' as *;

.productCard {
    background-color: $main--white;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.1);
    border: none !important;
    border-radius: 8px;

    .addToCartBtn {
        margin-top: 10px;
        width: 100%;
        padding: 8px;
        background: $main--red;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background 0.2s;
        
        &:hover {
            background: $secondary--red;
        }
    }
}

.ProduCardLink {
    text-decoration: none;
    color: $main--black;
}

.productimage {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
}


.productImage {
    width: 200px !important;
    height: 200px !important;
}