@use '../../styles/variables' as *;

.productcard {
    background-color: $main--white;
    
    border-radius: 8px;

    .addToCartBtn {
        margin-top: 10px;
        width: 100%;
        padding: 8px;
        background: $main--red;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background 0.2s;
        
        &:hover {
            background: $secondary--red;
        }
    }
}

.productimage {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
}