@use '../styles/variables' as *;

.detailCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;

    .detailInfo {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .detailName {
        margin-bottom: 0px;
      }

      .detailDescription {
        margin-bottom: 0px;
      }

      .detailPrice {
        font-weight: bolder;
      }

      .detailButton {
        background-color: $main--red;
        text-align: center;
        border: none;
        padding: 8px 24px 24px;
        border-radius: 50px;
        width: 160px;
        font-size: 14px;
        color: white;
      }
    }
    
    .addToCart {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }
  
    @media (min-width: 768px) {
      flex-direction: row;
      align-items: flex-start;
    }
  }
  
  .detailImage {
    max-width: 100%;
    width: 400px;
    height: auto;
    border-radius: 8px;
  }
  
 