.itemList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto); // mobile: 2 auto-sized columns
    gap: 0px; // add some breathing space
    padding-top: 40px;
    justify-content: center; // center the whole grid
    justify-items: center;   // center items inside their grid cell
  }
  
  // Tablet
  @media (min-width: 767.9px) {
    .itemList {
      grid-template-columns: repeat(3, auto);
    }
  }
  
  // Desktop
  @media (min-width: 1200px) {
    .itemList {
      grid-template-columns: repeat(6, auto);
    }
  }
  