@use '../styles/variables' as *;

.productsgrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    background-color: $main--white;
    color: $main--black;
    padding: 40px;
    border-radius: 8px;
}